version: 2.1
orbs:
  newman: postman/newman@0.0.2

jobs:
  run-newman-collection:
    executor: newman/postman-newman-docker
    steps:
      - checkout
      - newman/newman-run:
          collection: ./postman/Google_Civic_Information_API.postman_collection.json
          environment: ./postman/credentials.postman_environment.json
          additional-options: --env-var API_KEY=${API_KEY_CI}

workflow:
  run_all_tests:
    jobs:
      - run-newman-collection